DATABASE_URL=postgresql://postgres:postgres@localhost:5432/millionaire
TOKEN_ADDRESS=EQDvE0ffdwvOhILjRJKFd2bIU9t5H9bG3-SKRidqavZjRsw8
VAULT_ADDRESS=
ORACLE_ADDRESS=
REWARD_DISTRIBUTOR_ADDRESS=
CHAIN_ID=ton-mainnet
JWT_SECRET=supersecretjwt
PORT=4000
