NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/millionaire
JWT_SECRET=supersecretjwt
ADMIN_EMAILS=admin@example.com
HIGH_RISK_DEPOSIT_THRESHOLD=1000000
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4173
CHAIN_ID=ton-mainnet
RPC_URL=
TOKEN_ADDRESS=EQDvE0ffdwvOhILjRJKFd2bIU9t5H9bG3-SKRidqavZjRsw8
LOCK_VAULT_ADDRESS=
ORACLE_ADDRESS=
REWARD_DISTRIBUTOR_ADDRESS=
